@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background: url('/images/background.png') center center / cover no-repeat fixed;
    overflow-y: scroll;
}